
._candidate_pic.jpg

._normalized-reset.css

._.gitignore

._Candidates.html

._clump.jpg

._ElectionDay.html

._Events.html

._index.html

._js

._README.md

._Register.html

._Resources.html

._style.css

._test-page.html

css/.__normalized-reset.css

css/.__normalized-reset.map

sass/.__general.css

sass/.__normalized-reset.scss
